<div class="jumbotron mt-4">
    <h1 class="display-4">The Whisky Brothers</h1>
    <p class="lead">Experience Real Whisky</p>
    <p style="text-align: center;">We welcome more than 2.5 million customers every year across our growing estate of shops around the glob. The most frequently made statement by those customers is “I know nothing about whisky, but...<br>

We are here to help. Our motto is 'Unlocking the mystery of whisky'. We un-complicate the apparently complicated. We speak in plain language and our service is legendary. You leave us with confidence in your purchase and with a little more knowledge of this beautiful product.<br>

With a selection of 1,000+ bottles including single malt whisky, rare whisky, whisky gifts, and leading worldwide brands like The Macallan, Talisker, Glenfiddich and The Dalmore ever-present in our extensive range, there's something for everyone at The Whisky Brothers.</p>
</div>