<div class="'col-md-4 mx-auto">
    <div class="card" style="width: 72rem;">
        <div class="'card-header">
            <h3>MENU EMPLOYEES</h3>
        </div>
        <div class="card-body">
            <!--REGISTER-->
            <form action="/registerEmployee" method="POST">

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        REGISTER NEW EMPLOYEE
                    </button>
                </div>
            </form>
            <!--CONSULT-->
            <form action="/employeeConsult" method="POST">

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        CONSULT EMPLOYEE
                    </button>
                </div>
            </form>
            <!--REPORTS CONSULT-->
            <form action="/employee/resolveReview" method="POST">

                <div class="form-group">
                    <h5>Report Type: </h5>
                    <select name="id_ReportType" class="form-control" id="id_ReportType">
                        <option value=1 selected>PENDING</option>
                        <option value=2 selected>PROCESSED</option>
                    </select>

                    <button class="btn btn-primary btn-block" type="submit">
                        VIEW REPORTS
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>