<div class="'col-md-4 mx-auto">
    <div class="card" style="width: 72rem;">
        <div class="'card-header">
            <h3>MENU EMPLOYEES</h3>
        </div>
        <div class="card-body">
            <!--REGISTER-->
            <form action="/registerEmployee" method="POST">

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        REGISTER NEW EMPLOYEE
                    </button>
                </div>
            </form>
            <!--CONSULT-->
            <form action="/employeeConsult" method="POST">

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        CONSULT EMPLOYEE
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>